<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ejemplo</servlet-name>
        <servlet-class>Controlador.ejemplo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarUsuario</servlet-name>
        <servlet-class>Controlador.VerificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Controlador.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>Controlador.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEmpleado</servlet-name>
        <servlet-class>BD.EliminarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarEmpleado</servlet-name>
        <servlet-class>Controlador.BorrarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarEmpleado</servlet-name>
        <servlet-class>Servlet.GuardarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarempleado</servlet-name>
        <servlet-class>Servlet.borrarempleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEmpleado</servlet-name>
        <servlet-class>Servlet.ActualizarEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ejemplo</servlet-name>
        <url-pattern>/ejemplo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarUsuario</servlet-name>
        <url-pattern>/VerificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEmpleado</servlet-name>
        <url-pattern>/EliminarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarEmpleado</servlet-name>
        <url-pattern>/BorrarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarEmpleado</servlet-name>
        <url-pattern>/GuardarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarempleado</servlet-name>
        <url-pattern>/borrarempleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEmpleado</servlet-name>
        <url-pattern>/ActualizarEmpleado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
